<!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-secondary mb-4">Contact Info</h4>
                            <a href=""><i class="fa fa-map-marker-alt me-2"></i>House NO 20, Block 5, PLOT 14, Keko Magurumbasi 'A', Dar es salaam. 
</a>
                            <a href=""><i class="fas fa-envelope me-2"></i> info@cetgroup.co.tz</a>
                            <a href=""><i class="fas fa-phone me-2"></i> +255 764 677 941</a>
                            <a href="" class="mb-3"><i class="fas fa-phone me-2"></i> +255 789 610 740</a>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-secondary me-2"></i>
                                <a class="btn mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-secondary mb-4">Opening Time</h4>
                            <div class="mb-3">
                                <h6 class="text-muted mb-0">Mon - Friday:</h6>
                                <p class="text-white mb-0">09.00 am to 07.00 pm</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="text-muted mb-0">Satday:</h6>
                                <p class="text-white mb-0">10.00 am to 05.00 pm</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="text-muted mb-0">Vacation:</h6>
                                <p class="text-white mb-0">All Sunday is our vacation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-secondary mb-4">Our Services</h4>
                            <a href="{{'services'|page}}" class=""><i class="fas fa-angle-right me-2"></i> Construction Timber</a>
                            <a href="{{'services'|page}}" class=""><i class="fas fa-angle-right me-2"></i> Quality Furniture</a>
                            <a href="{{'services'|page}}" class=""><i class="fas fa-angle-right me-2"></i> Hardware & Building Materials</a>
                            <a href="{{'services'|page}}" class=""><i class="fas fa-angle-right me-2"></i> Stationary Services</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item">
                            <h4 class="text-secondary mb-4">Our Vision</h4>
                            <p class="text-white mb-3">Our goal is to make material sourcing easier, more reliable and more convenient for our customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->