<!-- Navbar & Hero Start -->
        <div class="container-fluid nav-bar p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="display-7 text-secondary m-0"><img src="{{'assets/img/logo.png'|theme}}" class="img-fluid" alt="">Timber & general Supply</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link {% if this.page.id == 'home' %}active{% endif %}">Home</a>
                        <a href="{{'about'|page}}" class="nav-item nav-link {% if this.page.id == 'about' %}active{% endif %}" >About</a>
                        <a href="{{'services'|page}}" class="nav-item nav-link {% if this.page.id == 'services' %}active{% endif %}">Services</a>
                        <a href="{{'contact-us'|page}}" class="nav-item nav-link {% if this.page.id == 'contact-us' %}active{% endif %}">Contact</a>
                    </div>
                   
                </div>
            </nav>
        </div>
        <!-- Navbar & Hero End -->